<div class="collapse navbar-collapse c-header-menu" id="navbarSupportedContent">
    <div class="navbar-custom" id="topnav">
        <div class="container-fluid">
            <div id="navigation">
                <ul class="navigation-menu">
                    <li class="has-submenu" routerLinkActive='active'><a routerLink="/fileupload"><i class="fas fa-home"></i>File Upload</a>
                    </li>
                    <!-- <li class="has-submenu" routerLinkActive='active'><a ><i class="fas fa-plus"></i>
                        Create CNDN
                    </a>
                        <ul class="submenu">
                            <li class="has-submenu" routerLinkActive='active'><a routerLink="/create-cndn"><i class="fas fa-plus mr-2"></i>Create New CNDN
                            </a>
                            </li>
                            <li class="has-submenu"><a routerLink="/upload-cndn"><i class="fas fa-upload mr-2"></i>Upload CNDN</a></li>
                        </ul>
                    
                    </li>
                    <li class="has-submenu" routerLinkActive='active'><a routerLink="/cancel-cndn"><i class="fas fa-ban"></i>Cancel CNDN</a>
                    </li>
                    <li class="has-submenu" routerLinkActive='active'><a routerLink="/export-cndn"><i class="fas fa-file-export"></i>Export CNDN</a>
                    </li>
                    <li class="has-submenu"><a routerLink="/cndn-report"><i class="fas fa-file-alt"></i>CNDN Report</a></li> -->

                </ul>
                
            </div>
        </div>
    </div>
</div>